:root {
  --primary: #00a97f;
  --light: rgba(133, 198, 218, 255);
  --dark: rgba(13, 13, 10, 255);
  --darker: rgba(234, 157, 90, 255);
  --lighter: #cbd6cf;
  --lighter1: rgba(35, 76, 224, 0.225);
  --darken: #dc7317;
  --color: orangered;
  --search: #ff6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
}
p {
  font-size: 14px;
}

button {
  padding: 12px 10px;
  font-size: 14px;
  background: var(--primary1);
  color: white;
}

/* Header starts here */

.header-top-strip {
  background: #393737;
  color: rgb(253, 250, 250);
}
.input-group button {
  background: transparent;
  font-size: 14px;
}

.header-upper {
  background: var(--lighter1);
}

.header-upper a {
  font-size: 16px;
  text-transform: uppercase;
  color: #354d61;
}
.buttons {
  color: var(--search);
}

h1 {
  font-weight: 500;
  color: var(--search);
  font-size: 3rem;
}
h2 {
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
}

.active {
  font-weight: 600;
  color: var(--search) !important;
}

/* Header finish here */
/* footer start */

footer {
  background-color: var(--lighter1);
}

.social-icons a {
  color: rgb(90, 90, 205);
  transition: 0.2s linear;
}
.social-icons a:hover {
  scale: calc(1.4);
}
.footer-logos {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  transition: 0.5s ease;
}
.footer-logos:hover {
  scale: calc(1.1);
}

/* footer ends */
/* Home begins */
.banner-details {
  background: url("/src/assets/images/home1.jpeg");
  width: 100%;
  height: 60vh;
  background-position: center;
  background-size: cover;
}
.home-box {
  background-color: rgb(43, 61, 76, 0.6);
  padding: 2rem;
  border-radius: 10px;
}
.home-box:hover {
  border: 0.5px solid white !important;
}
/* Home ends */
/* herodetails start */

/* herodetails ends */
