:root {
  --primary: #00a97f;
  --light: rgba(133, 198, 218, 255);
  --dark: rgba(13, 13, 10, 255);
  --darker: rgba(234, 157, 90, 255);
  --lighter: #cbd6cf;
  --lighter1: #c3dacc86;
  --darken: #cca27e;
  --color: orangered;
  --search: #ff6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

a {
  text-decoration: none;
  font-size: 14px;
}
p {
  font-size: 14px;
}

button {
  padding: 12px 10px;
  font-size: 14px;
  background: var(--primary1);
  color: white;
}

/* Header starts here */

.header-top-strip {
  background: var(--lighter);
}
.input-group button {
  background: transparent;
  font-size: 14px;
}

/* Header finish here */
